@import "_nullstyle.scss";
//////////////////////////
body {
   background-color: #aea9a9;
}

.wrapper {
   padding: 25px;
   overflow: hidden;
   height: 100%;
}
.questions {
}

.check-button {
   padding: 5px 8px;
   border-radius: 3px;
   font-size: 16px;
   border: 1px solid #000;
   transition: all 0.3s;
   background-color: inherit;
   &:hover {
      background-color: #fff;
   }
}

.btn {
   font-size: 18px;
   padding: 10px;
   border-radius: 5px;
   border: 1px solid #000;
   transition: all 0.4s;
   background-color: inherit;
   margin-bottom: 30px;
   &:hover {
      background-color: #fff;
   }
}
